@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
html,
body {
  background-color: #282828; /* secondary main */
}
body {
  position: fixed;
  overscroll-behavior: none;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
* {
  font-family: "Oswald", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --oswald-regular: 400;
  --oswald-medium: 500;
  --oswald-semi-bold: 600;
  --oswald-bold: 700;
}
h1 {
  font-size: 48.83px;
  font-weight: var(--oswald-semi-bold);
  letter-spacing: calc(48.83px * (-1.5 / 100));
}
h2 {
  font-size: 39.06px;
  font-weight: var(--oswald-semi-bold);
  letter-spacing: 0;
}
h3 {
  font-size: 31.25px;
  font-weight: var(--oswald-semi-bold);
  letter-spacing: 0;
}
h4 {
  font-size: 25px;
  font-weight: var(--oswald-medium);
  letter-spacing: calc(25px * (3 / 100));
}
h5 {
  font-size: 20px;
  font-weight: var(--oswald-medium);
  letter-spacing: calc(20px * (4.5 / 100));
}
h6 {
  font-size: 16px;
  font-weight: var(--oswald-bold);
  letter-spacing: calc(16px * (4 / 100));
}
sub {
  font-size: 12.8px;
  font-weight: var(--oswald-regular);
  letter-spacing: 0;
}
p {
  font-size: 16px;
  font-weight: var(--oswald-medium);
  letter-spacing: calc(16px * (1.5 / 100));
}
button {
  font-size: 12px!important;
  font-weight: var(--oswald-regular)!important;
  letter-spacing: calc(12px * (12.5 / 100))!important;
}
.caption {
  font-size: 10.24px;
  font-weight: var(--oswald-medium);
  letter-spacing: 0;
}
small {
  font-size: 8.19px;
  font-weight: var(--oswald-regular);
  letter-spacing: 0;
}
.dark-mode {
  --primary-light: #f27575;
  --primary-main: #ff0000;
  --primary-dark: #740000;
  --secondary-light: #8a8a8a;
  --secondary-main: #282828;
  --secondary-dark: #121212;
  --error-light: #ef9595;
  --error-main: #ff1a19;
  --error-dark: #720c0b;
  --warning-light: #f4d86f;
  --warning-main: #ffce19;
  --warning-dark: #745e0c;
  --info-light: #727df3;
  --info-main: #0d22ff;
  --info-dark: #040b51;
  --success-light: #74f397;
  --success-main: #1aff5a;
  --success-dark: #0a5d21;
}
.screen-grid {
  padding: 15px;
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  width: 100vw;
  height: calc(100vh - 15px);
}
@media only screen and (max-width: 500px) {
  .screen-grid {
    padding: 15px;
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
  }
}
.MuiButton-outlined {
    color: white!important;
    border: 1px solid var(--secondary-light)!important;
    min-width: 135px;
    min-height: 38px;
}
.MuiButton-outlined:hover {
    border: none!important;
    background-color: var(--secondary-light)!important;
    box-shadow: 0 0 5px #121212;
}
.MuiButton-outlined.Mui-disabled {
    border: none!important;
    background-color: var(--secondary-dark)!important;
    color: var(--secondary-light)!important;
}
.MuiIconButton-root {
    color: white!important;
}
.MuiIconButton-root:active {
    background-color: var(--secondary-light)!important;
}
div.app.dark-mode {
    background-color: var(--secondary-main);
}
