.download-list {
    height: 100%;
}
.download-list > div {
  height: 100%;
}
.download-list .MuiLinearProgress-colorPrimary {
  background-color: white;
}
.download-list .loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.download-list .video-info {
  animation: 1s video-info-fade-in ease forwards;
}
@keyframes video-info-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}