.video-info {
  width: calc(100% - 30px);
  height: 60px;
  display: flex;
  gap: 25px;
  margin: 15px;
  color: white;
}
.video-info .cover-art {
  flex: 1;
}
.video-info .cover-art img {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 5px;
}
.video-info .cover-art img:empty {
    background-color: var(--secondary-main);
    min-width: 56px;
    min-height: 56px;
    color: transparent;
}
.video-info .info .title-wrap,
.video-info .info .author-wrap {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
}
.video-info .info .title-wrap p:nth-child(1),
.video-info .info .author-wrap caption:nth-child(1) {
    padding-left: 5px
}
.video-info.playing .info .title-wrap p:nth-child(1),
.video-info.playing .info .author-wrap caption:nth-child(1) {
    padding-left: 0px;
}
.video-info.playing .info .title-wrap p:nth-child(2),
.video-info.playing .info .author-wrap caption:nth-child(2) {
    margin-left: 100%;
}
.video-info .info {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-end;
  text-align: end;
  white-space: nowrap;
  max-width: 75%;
  overflow: hidden;
}